html, body {
  height: 100vh;
  scrollbar-width: none; /* Firefoxでスクロールバーを非表示にする */

}

body {
  margin: 0;
  font-family: Roboto,Noto Sans JP,sans-serif;
  background-color: #f5f5f5;
  color: #333333;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: #333333;
  text-decoration: none;
}

h2, h3 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
  overflow: hidden; 
}

/* ———————header css———————— */
header {
  max-height: 12%;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  margin-top: 15px;
}

.logo img {
  width: 100%;
  height: auto;
  max-height: 100px; /* ロゴの最大高さを設定 */
}

.header-policy {
  position: absolute;
  right: 24px;
  top: 16px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.link-underline {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: currentColor;
  transition: width 0.3s ease; /* ゆっくり線が伸びる */
}

.link-underline:hover::after {
  width: 100%;
}

/* ———————main css———————— */

.videocontainer {
  position: relative;
  height: 100%;
  overflow: hidden; /* スクロールバーを非表示にする */
}

.videolist-container {
  display: flex;
  padding-bottom: 50px;
  height: calc(100% - 30px);
}



.video-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 18px;
  padding-bottom: 50px;
}

.day-block {
  width: fit-content;
  min-width: 596px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 132px); /* 必要に応じて調整 */
  border-right: 1px solid #dedede;
}

@media (min-width: 1177px) {
  .today-block {
    width: 1177px; /* デスクトップ用の幅 */
  }
}

.today-block {
  background-color: #ecf0f6;
}

.windows .today-block {
  width: 1193px; /* Windowsの場合は幅を調整(スクロールバー分) */
}

.today-block .video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date-heading {
  position: sticky;
  top: 0;                     /* ← 上に固定する */
  background: #ffffff;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 30px;
  /* 下部に影をつける */
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}

.time-heading {
  display: flex;
  justify-content: center;
}

.time-heading h3{
  font-size: 15px;
  width: fit-content;
  padding: 3px 12px;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
}

/* video list block */
.live-wrapper {
  max-width: 560px;
  width: 560px;
  margin-bottom: -12px;
}

.live-block {
  display: block;
}

.live-info {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
}

.live-badge {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1; /* z-indexを追加 */
}

.platform-border {
  width: 5px;
  height: 108px;
}

.tiktok-badge {
  background-color: #00F2EA;
}

.twitch-badge {
  background-color: #6441A5;
}

.youtube-badge {
  background-color: #FF0000;
}

.live-block:hover .live-badge {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* ← 濃く・広く */
  transform: translateY(-3px);  
}

.live-block:hover .formatted-time {
  transform: translateY(-3px);
}

.live-info-inner {
  display: flex;
}

.face-icon {
  margin-left: 12px;
  width: 68px;
  min-width: 68px;
  height: 100%;
  display: flex;
  align-items: center;
}

.face-icon img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: #cccccc 1px solid;
}

.description {
  display: flex;
  flex-direction: column;
  padding-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
}

.liver-name {
  margin-bottom: 4px;
}

.live-title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thumbnail-wrapper {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  width: 192px;
  min-width: 192px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formatted-time {
  padding: 0px 11px;
  width: fit-content;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  top: 12px;
  left: 17px;
  border-radius: 12px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 2; /* z-indexを追加 */
}

.formatted-time p {
  font-size: 17px;
  font-family: roboto, sans-serif;
  color: #999999;
  font-weight: 700;
}


/* ────────swipe buttons───────── */

.videoswipe-inner {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.swipe-button {
  position: absolute;
  top: 0px;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  z-index: 12;
  background-color: #000;
  --swiper-theme-color: #000000;
  cursor: pointer;
}

/* 左ボタン */
.swipe-button.prev {
  left: 24px;
}

/* 右ボタン */
.swipe-button.next {
  right: 24px;
}

.swipe-button {
  .fa-solid {
    color: #fff;
  }
}


/* ────────scroll bar──────── */

/* Chrome / Edge / Safari対応*/
html::-webkit-scrollbar {
  display: none;
}

/* ────────version───────── */
.version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #999;
}


@media (max-width: 600px) {
  .day-block {
    min-width: 100vw;
  }

  .video-list {
    gap: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .live-info {
    flex-direction: column;
  }

  .thumbnail-wrapper {
    width: 100%;
  }

  .live-wrapper {
    width: calc(50vw - 24px);
    max-height: none;
  }

  .live-info-inner {
    flex-direction: column;
    align-items: center;
    padding: 6px 0px 6px 0px;
  }

  .live-badge {
    display: flex;
  }

  .tiktok {
    background-color: #00F2EA;
  }

  .twitch {
    background-color: #6441A5;
  }

  .youtube {
    background-color: #FF0000;
  }

  .face-icon img {
    width: 48px;
    height: 48px;
  }

  .description {
    padding: 0;
    align-items: center;
  }

  .live-title {
    font-size: 12px;
    text-align: center;
    margin: 0px 8px 0px 8px;
    height: 35px;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0px;

  }

  .header-policy {
    position: unset;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    gap: 8px;
    flex-direction: row;
  }


}

